<div class="container mt-4">
  <div class="card mb-3 shadow-lg rounded border main-display" >
    <div class="card-body text-dark">
      <h1 class="text-center mt-3">Login</h1>
      <div class="container">
        <div class="row justify-content-center">
          <div class="row-10">
            <%= form_with(scope: :session, url: login_path, class: "p-3 mb-3", 
                          local: true, :data => {:turbo => "false"} ) do |f| %>
              <div class="input-group mb-3 row">
                <%= f.label :email, class: "col-2 col-form-label" %>
                <div class="col-10">
                  <%= f.email_field :email, class: "form-control shadow rounded", 
                            placeholder: "Enter email address" %>
                </div>
              </div>
              <div class="input-group mb-3 row">
                <%= f.label :password, class: "col-2 col-form-label" %>
                <div class="col-10">
                  <%= f.password_field :password, class: "form-control shadow rounded", 
                                placeholder: "Enter your password" %>
                </div>
              </div>
              <div class="input-group mb-3 justify-content-center">
                <%= f.submit "login", class: "btn btn-outline-dark btn-lg" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
